html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;} /* end snippet */

html { font-size: 62.5%; /* 10px */ }

h1, h2, h3, h4, h5, h6, ul, ol, p { padding: 0; margin: 0; }

.wrapper {
  max-width: 1200px; 
  width: 45%; 
  margin: 0 auto; 
  display: flex;
  justify-content: center;
}

/*******************/
/* Weather Classes */
/*******************/
.starterBackground {
  background: linear-gradient(rgb(70, 95, 236), lightblue);
  height: 100vh;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 100%;
  z-index: -10;
}

.rainVideo {
  display: none;
  background: #bdbcb7;
}
/* Video by Bokor Marketing from Pexels */



.snowVideo {
  display: none;
  background: #D4D7E1;
}
/* Video by Jon T from Pexels */

.sunny {
  /*background: url(https://media.istockphoto.com/photos/sun-in-a-blue-sky-50-megapixels-picture-id961975724?b=1&k=20&m=961975724&s=170667a&w=0&h=QApxNLLxrL857P8f8Rk-79Vt8Ust5k-weIPL3qZ6ZZU=);*/
  background: url(./assets/sunny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cloudy {
  /*background: url(https://media.istockphoto.com/photos/blue-sky-with-cloud-background-picture-id912014918?b=1&k=20&m=912014918&s=170667a&w=0&h=nN08ZR-6BwMsfhb4baOcqFb-2xp2VQZ2nPUQqA7THKY=);*/
  background: url(./assets/cloudy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hazy {
  /*background: url(https://media.istockphoto.com/photos/wet-window-condensation-on-window-glass-picture-id892125466?k=20&m=892125466&s=612x612&w=0&h=NryGvQEMXCwsv20bNM9liWan8cdo9rnOJCkhytTEObs=);*/
  background: url(./assets/hazy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.night {
  /*background: url(https://media.istockphoto.com/photos/milky-way-picture-id1085287936?b=1&k=20&m=1085287936&s=170667a&w=0&h=JcGOcj303DmVlqdUSt9gXhW1v5O6HMCEsY5snHPuEiQ=);*/
  background: url(./assets/night.jpg);
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

/**********/
/* Header */
/**********/
h1 {
  font-size: 4.5rem;
  margin: 20px;
  padding-top: 40px;
}


/********/
/* Main */
/********/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}


/* Form */
form {
  width: 60%;
  font-size: 2rem;
  background-color: rgba(248, 228, 228, 0.7);
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  font-size: 1.5rem;
  height: 30px;
  width: 210px;
  text-align: center;
}

form button {
  font-size: 1.5rem;
  margin: 15px 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: lightblue;
  border: 2px solid rgb(150, 184, 196);
}

form button:hover {
  background: rgb(150, 184, 196);
}

/* Results */
.results {
  width: 60%;
  margin: 30px auto;
  text-align: center;
  background-color: rgba(248, 228, 228, 0.7);
}

h4 {
  font-size: 2.5rem;
  border-bottom: 3px black solid;
  margin-bottom: 20px;
}

.temperature,
.weatherType {
  font-size: 3rem;
  padding-bottom: 20px;
}

/**********/
/* Footer */
/**********/
footer {
  text-align: center;
  font-size: 1.4rem;
}

footer p {
  background: lightblue;
  border-radius: 5px;
  padding: 5px;
  color: black; /* to undo night styling */
  border: 2px solid rgb(150, 184, 196);
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

@media (max-width: 840px){
  .wrapper {
    width: 85%;
  }

  .cloudy,
  .sunny,
  .hazy,
  .night {
    background-size: 100vh;
  }
}

@media (max-width: 576px){
  form {
    width: 80%;
  }

  .cloudy,
  .sunny,
  .hazy,
  .night {
    background-size: 200vh;
  }

  .results {
    width: 80%;
  }
}